/* Small Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > *:not(img):not(video) {
    position: relative;
    max-width: 40rem;
    margin: auto;
}

body {
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

/*  Default styles */
html {
    font: normal 16px/1.3 "Helvetica Neue", sans-serif;
    background: #eee;
    color: #333;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.87em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.13em;
}

h6 {
    font-size: 0.83em;
}

/* Utilities */
.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/* Header */
.header--title {
    text-align: center;
    margin-top: 1rem;
}

h1 span {
    white-space: nowrap;
}

/* Tribute Images */
figure {
    width: 100%;
    margin-top: 1rem;
}

.tribute__figure {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    max-height: 45rem;
    text-align: center;
}

#image1 img {
    width: 25rem;
    height: 25.3125rem;
}

#image2 img {
    margin-left: -11rem;
}

#image4 img,
#image5 img {
    height: 46.875rem;
}

figcaption {
    padding: 0.3rem;
    text-align: center;
}

/* Timeline Style */
.flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 500px;
}

.flex-parent h2 {
    padding-top: 3rem;
}

.input-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 1000px;
    position: relative;
    z-index: 0;
    padding-top: 10rem;
    margin-left: calc((80vw - 25px) / 20);
}

input {
    width: 25px;
    height: 25px;
    background-color: #333;
    position: relative;
    border-radius: 50%;
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

input:focus {
    outline: none;
}

input::before,
input::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    width: 4vw;
    height: 5px;
    max-width: 50px;
}

input::before {
    left: calc(-5vw + 12.5px);
}

input::after {
    right: calc(-5vw + 12.5px);
}

input:checked {
    background-color: #333;
}

input:checked::before {
    background-color: #333;
}

input:checked::after {
    background-color: #ffba49;
}
input:checked::after:last-child {
    background-color: #333;
}

input:checked ~ input,
input:checked ~ input::before,
input:checked ~ input::after {
    background-color: #ffba49;
}

input:checked + .dot-info span {
    font-size: 13px;
    font-weight: bold;
}

.dot-info {
    width: 25px;
    height: 25px;
    display: block;
    visibility: hidden;
    position: relative;
    z-index: -1;
    left: calc((((80vw - 25px) / 20) * -1) - 1px);
}

.dot-info span {
    visibility: visible;
    position: absolute;
    font-size: 12px;
}

.dot-info span.year {
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.dot-info span.label {
    top: -65px;
    left: 0;
    transform: rotateZ(-45deg);
    width: 70px;
    text-indent: -10px;
}

#timeline-descriptions-wrapper {
    width: 100%;
    margin-top: 140px;
    font-size: 22px;
    font-weight: 400;
    margin-left: calc((-80vw - 25px) / 20);
}

#timeline-descriptions-wrapper p {
    margin-top: 0;
    display: none;
}

input[data-description="1955"]:checked ~ #timeline-descriptions-wrapper p[data-description="1955"] {
    display: block;
    text-align: center;
}

input[data-description="1960"]:checked ~ #timeline-descriptions-wrapper p[data-description="1960"] {
    display: block;
    text-align: center;
}

input[data-description="1961"]:checked ~ #timeline-descriptions-wrapper p[data-description="1961"] {
    display: block;
    text-align: center;
}

input[data-description="1966"]:checked ~ #timeline-descriptions-wrapper p[data-description="1966"] {
    display: block;
    text-align: center;
}

input[data-description="1967"]:checked ~ #timeline-descriptions-wrapper p[data-description="1967"] {
    display: block;
    text-align: center;
}

input[data-description="1971"]:checked ~ #timeline-descriptions-wrapper p[data-description="1971"] {
    display: block;
    text-align: center;
}

input[data-description="1972-1"]:checked ~ #timeline-descriptions-wrapper p[data-description="1972-1"] {
    display: block;
    text-align: center;
}

input[data-description="1972-2"]:checked ~ #timeline-descriptions-wrapper p[data-description="1972-2"] {
    display: block;
    text-align: center;
}

input[data-description="1973"]:checked ~ #timeline-descriptions-wrapper p[data-description="1973"] {
    display: block;
    text-align: center;
}

@media (min-width: 1250px) and (max-width: 1400px) {
    input::before {
        left: calc(-6vw + 26.5px) !important;
    }

    input::after {
        right: calc(-6vw + 26.5px) !important;
    }
}

@media (min-width: 631px) {
    .input-flex-container {
        margin-left: 62.5px;
    }

    input::before {
        left: calc(-4vw + 12.5px);
    }

    input::after {
        right: calc(-4vw + 12.5px);
    }

    .dot-info {
        left: calc((((1000px - 25px) / 20) * -1) - 1px);
    }

    #timeline-descriptions-wrapper {
        margin-left: -37.5px;
    }
}

@media (max-width: 630px) {
    .flex-parent {
        justify-content: initial;
    }

    .input-flex-container {
        flex-wrap: wrap;
        justify-content: center;
        width: 400px;
        height: auto;
        padding-top: 1rem;
        margin-top: 0;
        margin-left: 0;
        padding-bottom: 30px;
    }

    .flex-parent h2 {
        font-size: 1.8em;
        padding: 1.5rem 0;
    }

    input,
    .dot-info {
        width: 60px;
        height: 60px;
        margin: 0 10px 50px;
    }

    input {
        background-color: transparent !important;
        z-index: 1;
    }

    input::before,
    input::after {
        content: none;
    }

    input:checked + .dot-info {
        background-color: #333;
    }

    input:checked + .dot-info span.year {
        font-size: 14px;
    }

    input:checked + .dot-info span.label {
        font-size: 12px;
    }

    .dot-info {
        visibility: visible;
        border-radius: 50%;
        z-index: 0;
        left: 0;
        margin-left: -70px;
        background-color: #ffba49;
    }

    .dot-info span.year {
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ecf0f1;
    }

    .dot-info span.label {
        top: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        text-indent: 0;
        text-align: center;
    }

    #timeline-descriptions-wrapper {
        margin-top: 30px;
        margin-left: 0;
        text-align: center;
    }

    footer {
        padding-top: 0;
    }
}

@media (max-width: 480px) {
    figure {
        width: 100vw;
        margin: 1rem -25%;
    }

    .input-flex-container {
        width: 340px;
        margin-top: 0;
        padding-top: 3rem;
    }

    .flex-parent h2 {
        padding: 0 1.5rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 2.14em;
    }

    p {
        font-size: .8em;
    }

    .input-flex-container {
        width: 300px;
        margin-top: 0;
        padding-top: 2rem;
    }

    .flex-parent h2 {
        font-size: 1.6em;
        padding: 1.5rem;
    }

    #closing {
        padding-top: 2rem;
    }
}

/* Footer */
#closing {
    padding-top: 5rem;
    text-align: center;
}
